/*
Project Name:
Author: Jennifer Nerad
*/

/* fonts and colors
teal: 32BAAE;
gold: F6AF33;
font-family: 'Alegreya', serif;
font-family: 'Amatic SC', cursive;
font-family: 'Stint Ultra Condensed', cursive;
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.absolute { /*this is formula for centering*/
  text-align: center;
  margin: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

/******************************************
--- BASE STYLES ---
/*******************************************/

html {
  border: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #222;
  font-family: 'Alegreya', serif;
  line-height: 1.4;
  /*margin: auto;*/
  /*width: 95%;*/
  /*overflow-x: hidden;*/
}

h1, h2 {
  font-size: 3.2em;
  font-family: 'Amatic SC', cursive;
  vertical-align: middle;
}

p {
  color: #444;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

blockquote {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 2em;
  letter-spacing: .02em;
  margin: auto;
  padding: 80px 0;
  text-align: center;
  vertical-align: middle;
  width: 80%;
}

.pullquote {
  color: gray;
  font-family: 'Alegreya', serif;
  font-size: 2em;
  /*vertical-align: super;*/
}

.open-pullquote {
  position: relative;
  left: -.5em;
  top: -.8em;

}

.close-pullquote {
  position: relative;
  left: .5em;
  top: .3em;
}

/******************************************
--- LAYOUT ---
/*******************************************/

/* ---HEADER --- */

header {
  background: url("../images/bg-header.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.top-banner {
  background-color: white;
  /*height: 60px;*/
  /*width: 960;*/
  position: fixed;
  width: 100%;
  top: 0;
  /*margin: 0;*/
  z-index: 999;
}

.top-banner h1 {
  font-size: 2.2em;
  margin: auto;
  padding-top: .25em;
}

.top-navigation {
  float: right;
  width: 100%;
}

.top-navigation a:hover {
  color: #32BAAE;
}

.top-navigation li {
  display: inline-block;
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 1.3em;
  letter-spacing: .05em;
  margin-left: 10px;
  text-transform: uppercase;
  vertical-align: middle;
  /* diamond bullet formatting */
  padding-left: 30px;
  background-image: url("../graphics/bullet-diamond.png");
  background-repeat: no-repeat;
  background-position: 0 .3em;
  /*overflow: hidden;*/
}

.top-navigation li:first-child {
  background-image: none;
}

.facebook-icon {
  height: 25px;
  vertical-align: top;
}

/*.bullet-diamond{
  width: 8px;
}*/

/* ---MAIN --- */

.about-section {
  font-size: 1.3em;
  margin: auto;
  text-align: center;
  width: 80%;
}

.decorative-head {
  color: #32BAAE;
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 2.2em;
  line-height: .25em;
  margin: auto;
  padding-top: 2em;
}

.about-section h1 {
  color: #F6AF33;
  line-height: .25em;
  padding-bottom: .5em;
}

.menu-section {
  font-size: 1.3em;
  margin-left: 5%;
  /*width: 40%;*/
}

.menu-section h1 {
  color: #F6AF33;
  line-height: .25em;
  padding-bottom: .5em;
}

.menu-section h2 {
  color: #32BAAE;
  font-size: 1.8em;
  margin: .5em 0;
  position: relative;
}

.menu-section h2:hover {
  color: #F6AF33;
}

.menu-section a {
  color: #32BAAE;
}

.menu-section a:hover {
  color: #F6AF33;
}

.menu-section ul {
  border-bottom: 2pt solid #F6AF33;
  padding-left: 0;
  /*padding-bottom: 25px;*/ /*turn this on when turning off accordian folding menu */
}

.menu-section .menu-no-border {
  border-bottom: 0pt;
}

.menu-section li {
  position: relative; /*this is for lining up price */
}

.accordian-menu li {
  display: none;
}

.accordian-menu ul {
  padding-bottom: 0;
}

.menu-section p {
  line-height: 1.2em;
  margin: 0;
}

.menu-section p:first-child {
  margin-top: .5em;
}

.menu-item {
  font-family: 'Stint Ultra Condensed', cursive;
  letter-spacing: .02em;
}

.menu-desc {
  color: #777;
  font-size: .9em;
}

.menu-price {
  color: #222;
  font-family: 'Stint Ultra Condensed', cursive;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.menu-carousel {
  overflow: hidden;
}

.wine-section {
  border-width: 18px;
  border-image: url("../graphics/squiggle-border-image.png") 19 0 19 0 repeat;
  margin: 80px auto;
  /*width: 95%;*/
}

.wine-section h2 {
  color: #32BAAE;
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 2em;
  letter-spacing: .02em;
  margin: 40px 0;
  text-align: center;
}

.divider-image-section {
  height: 460px;
  margin: 80px 0;
}

.divider-image-one {
  background: url("../images/ambiance.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.divider-image-two {
  background: url("../images/ambiance5.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* --- FOOTER --- */

footer {
  background-color: #32BAAE;
  color: white;
  padding: 40px;
  /*position: relative;*/
  /*border-width: 62px;*/
  /*border-image: url("../graphics/pattern-bottom.svg") 0 0 62 0 repeat;*/
  margin: 80px auto;
}

footer h1 {
  font-size: 4.4em;
  margin: 0;
}

footer h2 {
  font-size: 2.1em;
  color: #F6AF33;
}

footer h3 {
  color: white;
  font-size: 1.3em;
  margin: .5em 0 0 0;
  padding: 0;
}

footer p {
  color: white;
  font-size: .8em;
  margin: auto;
}

.contact-section h3, .contact-section p {
  text-indent: 45px;
  position: relative;
  top: -2em;
}

.contact-section p {
  top: -3.25em;
}

.contact-section img { /*street, phone */
  width: 24px;
  vertical-align: middle;
}

.contact-street p {
  font-size: .7em;
}
.contact-email img, .contact-hours img {
  width: 32px;
}

.contact-email h3 {
  font-size: .8em;
}

.contact-social img {
  width: 20px;
}

.contact-map img{
  width: 100%;
  margin-top: 2.3em;
  margin-left: 0;
}

.contact-phone p {
  font-size: .8em;
  top: -3.6em;
}

.contact-social h3 {
  font-size: 1em;
}

.colophon img {
  margin: auto -5%;
  padding: 60px 0 10px;
}

.colophon p {
  color: white;
  font-size: .8em;
  margin: 0 25px;
}

/******************************************
--- MEDIA QUERIES ---
/*******************************************/

/*@media screen and (min-width: 320px) {

}*/
